:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --contact-item-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --hero-button-active: #188ce8;
  --white-background-color: #ffffff;
  --portfolio-border-color: #eeeeee;
  --icon-main-color: #afb1b8;
  --icon-hover-color: #ffffff;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --bold-font: 700;
  --font-size-sixteen: 16px;
  --transform-duration: 250ms;
  --transform-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
/*Header*/
/*logo*/
.logotype {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: var(--bold-font);
  font-size: 26px;
  line-height: 1.19;
}
.page-header .logotype {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.page-header .logo-part {
  color: var(--text-black-color);
}
.page-footer .logo-part {
  color: var(--text-white-color);
}
.page-header {
  border-bottom: 1px solid #ececec;
}
/*Navigation*/
.nav-list,
.contacts-list {
  display: flex;
}
.nav-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transform-duration) var(--transform-timing-function);
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
.nav-list .current {
  position: relative;
  color: var(--accent-color);
}
.nav-list .current::after {
  position: absolute;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  border: none;
}
.contacts-list .link {
  display: flex;
  align-items: center;
  gap: 10px;
  fill: currentColor;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transform-duration) var(--transform-timing-function);
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrap {
  display: flex;
}
.contacts-list {
  margin-left: auto;
}
/*main*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bcg-hero.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;
}
.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*Section - Features*/
.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: var(--bold-font);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-list,
.pictures-list,
.team-list {
  display: flex;
}
.feature-item {
  flex-basis: calc((100% - 90px) / 4);
}
.feature-item:not(:last-child),
.pictures-list .item:not(:last-child),
.team-item:not(:last-child) {
  margin-right: 30px;
}
.features-list .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: var(--bold-font);
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}
.top-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--button-background-color);
}
/*Section - What we do*/
.pictures-list .item {
  flex-basis: calc((100% - 60px) / 3);
}
.picture-description {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white-color);
}
.what-pictures-item {
  position: relative;
}
.picture-description-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}
/*Section - Our team*/
.section.team {
  background-color: var(--button-background-color);
}
.team-item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-background-color);
}
.team-item .card-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.team-list .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: var(--font-size-sixteen);
  line-height: 1.19;
  text-align: center;
}
.social-icons-list {
  display: flex;
  gap: 10px;
}
.socials-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-background-color);
  border-radius: 50%;
  fill: var(--icon-main-color);
  transition: background-color var(--transform-duration) var(--transform-timing-function),
    fill var(--transform-duration) var(--transform-timing-function);
}
.socials-icon:hover,
.socials-icon:focus {
  fill: var(--icon-hover-color);
  background-color: var(--accent-color);
}
.position {
  margin-bottom: 16px;
  font-size: var(--font-size-sixteen);
  line-height: 1.19;
  text-align: center;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-item {
  width: 170px;
  height: 92px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-main-color);
  border-color: var(--icon-main-color);
  border-radius: 4px;
  fill: var(--icon-main-color);
  transition: border-color var(--transform-duration) var(--transform-timing-function),
    fill var(--transform-duration) var(--transform-timing-function);
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/*Images*/
.image {
  display: block;
  max-width: 100%;
  height: auto;
}
/*button*/
.button {
  display: inline-block;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--text-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: var(--font-size-sixteen);
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  border-radius: 4px;
  font-weight: var(--bold-font);
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transform-duration) var(--transform-timing-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-active);
}
.button.primary {
  color: var(--text-white-color);
  background-color: var(--accent-color);
}
.button.secondary {
  color: var(--title-text-color);
  background-color: var(--button-background-color);
  border-radius: 4px;
  box-shadow: none;
  min-width: 70px;
  transition: color var(--transform-duration) var(--transform-timing-function),
    background-color var(--transform-duration) var(--transform-timing-function),
    box-shadow var(--transform-duration) var(--transform-timing-function);
}
.secondary:hover,
.secondary:focus {
  color: var(--text-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/*footer*/
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-block-one {
  margin-right: 70px;
}
.footer-block-two {
  margin-right: 93px;
}
.contact-list .contact-item:not(:last-child) {
  margin-bottom: 9px;
}
.contact-list .contact-item {
  color: var(--contact-item-color);
  font-style: normal;
  transition: color var(--transform-duration) var(--transform-timing-function);
}
.link.address {
  color: var(--text-white-color);
  font-style: normal;
}
.link.contact-item:hover,
.link.contact-item:focus {
  color: var(--accent-color);
}
.page-footer .logotype {
  display: block;
  margin-bottom: 20px;
}
.page-footer .social-icons-list {
  display: flex;
  gap: 10px;
}
.page-footer .socials-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-hover-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transform-duration) var(--transform-timing-function);
}
.page-footer .socials-icon:hover,
.page-footer .socials-icon:focus {
  background-color: var(--accent-color);
}
.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-white-color);
}
.footer-form {
  display: flex;
}
.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  fill: var(--white-background-color);
  transition: background-color var(--transform-duration) var(--transform-timing-function);
}
.send-button:hover,
.send-button:focus {
  background-color: var(--hero-button-active);
}
.send-icon {
  margin-left: 10px;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--text-white-color);
  font-size: 16px;
}
.footer-form-label {
  margin-right: 12px;
}
.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--contact-item-color);
}
/*Modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transform-duration) var(--transform-timing-function),
    visibility var(--transform-duration) var(--transform-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transform-duration) var(--transform-timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  fill: currentColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--transform-duration) var(--transform-timing-function);
}
.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
}
.form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.form-input {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-input:first-child {
  margin-top: 0px;
}
.input-wrapper {
  position: relative;
}
.input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transform-duration) var(--transform-timing-function);
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill var(--transform-duration) var(--transform-timing-function);
}
.input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.input:focus + .input-icon {
  fill: var(--accent-color);
}
.form-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transform-duration) var(--transform-timing-function);
}
.form-input-textarea {
  margin-bottom: 20px;
}
.form-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.checkbox-icon {
  margin-right: 7px;
  background-color: transparent;
  fill: var(--title-text-color);
  cursor: pointer;
  transition: fill var(--transform-duration) var(--transform-timing-function),
    background-color var(--transform-duration) var(--transform-timing-function);
}
.checkbox:checked + .checkbox-icon {
  background-image: url(../images/icon-check.svg);
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  fill: var(--accent-color);
}
.checkbox:focus + .checkbox-icon {
  border: 2px solid var(--accent-color);
}
.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.form-input-checkbox {
  margin-bottom: 30px;
}
.link-conditions {
  position: relative;
  display: inline-block;
  color: var(--accent-color);
}
.link-conditions:after {
  position: absolute;
  bottom: 6px;
  left: 0;
  display: inline-block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}
.send-button-wrapper {
  display: flex;
  justify-content: center;
}
/*Портфоліо*/
.works-list .title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: var(--bold-font);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.works-list .text {
  color: var(--primary-text-color);
  font-size: var(--font-size-sixteen);
  line-height: 1.88;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list .item:not(:last-child) {
  margin-right: 8px;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.works-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--white-background-color);
}
.works-link {
  display: block;
  box-shadow: none;
  transition: box-shadow var(--transform-duration) var(--transform-timing-function);
}
.works-link:hover,
.works-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works-item .card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--portfolio-border-color);
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
}
.thumb {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  opacity: 0;
  padding: 63px 24px;
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-white-color);
  background-color: var(--overlay-color);
  transition: opacity var(--transform-duration) var(--transform-timing-function),
    transform var(--transform-duration) var(--transform-timing-function);
}
.works-link:hover .text-overlay,
.works-link:focus .text-overlay {
  opacity: 1;
  transform: translateY(0);
}
