.address__list {
  @extend %list;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__item:first-child .address__link {
  color: $color-text-light;
  font-style: normal;
}
.address__item:not(:first-child) .address__link {
  color: $color-contact-item;
  font-style: normal;
  transition: color $transform-duration $transform-timing-function;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}
