.logotype {
  color: $color-accent;
  font-family: 'Raleway', sans-serif;
  font-weight: $font-bold;
  font-size: 26px;
  line-height: 1.19;
}
.page-header__logotype {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.page-footer__logotype {
  display: block;
  margin-bottom: 20px;
}
.logotype--black {
  color: $color-text-dark;
}
.logotype--light {
  color: $color-text-light;
}
