$color-background-light: #ffffff;
$color-background-secondary: #2f303a;
$color-text-primary: #757575;
$color-text-light: #ffffff;
$color-accent: #2196f3;
$color-contact-item: rgba(255, 255, 255, 0.6);
$color-button-background: #f5f4fa;
$color-portfolio-border: #eeeeee;
$overlay-color: rgba(33, 150, 243, 0.9);
$main-button-active: #188ce8;
$font-bold: 700;
$font-size-sixteen: 16px;
$color-text-dark: #000000;
$color-text-title: #212121;
$transform-duration: 250ms;
$transform-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
